In [1]:
import pandas as pd
import numpy as np
import math
import time
import seaborn as sns

In [2]:
df = pd.read_csv("card_transdata.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

In [4]:
df.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,26.628792,5.036519,1.824182,0.881536,0.350399,0.100608,0.650552,0.087403
std,65.390784,25.843093,2.799589,0.323157,0.477095,0.300809,0.476796,0.282425
min,0.004874,0.000118,0.004399,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.878008,0.296671,0.475673,1.000000,0.000000,0.000000,0.000000,0.000000
50%,9.967760,0.998650,0.997717,1.000000,0.000000,0.000000,1.000000,0.000000
75%,25.743985,3.355748,2.096370,1.000000,1.000000,0.000000,1.000000,0.000000
max,10632.723672,11851.104565,267.802942,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [6]:
df.isnull().values.any()

False

In [7]:
def normalizingData (df):
    for column in df:
        df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min())  
    return df

In [8]:
df = normalizingData (df)

In [9]:
corr = df.corr()

In [10]:
corr

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
distance_from_home,1.000000,0.000193,-0.001374,0.143124,-0.000697,-0.001622,-0.001301,0.187571
distance_from_last_transaction,0.000193,1.000000,0.001013,-0.000928,0.002055,-0.000899,0.000141,0.091917
ratio_to_median_purchase_price,-0.001374,0.001013,1.000000,0.001374,0.000587,0.000942,-0.000330,0.462305
repeat_retailer,0.143124,-0.000928,0.001374,1.000000,-0.001345,-0.000417,-0.000532,-0.001357
used_chip,-0.000697,0.002055,0.000587,-0.001345,1.000000,-0.001393,-0.000219,-0.060975
used_pin_number,-0.001622,-0.000899,0.000942,-0.000417,-0.001393,1.000000,-0.000291,-0.100293
online_order,-0.001301,0.000141,-0.000330,-0.000532,-0.000219,-0.000291,1.000000,0.191973
fraud,0.187571,0.091917,0.462305,-0.001357,-0.060975,-0.100293,0.191973,1.000000

In [11]:
df = df[['distance_from_home', 'distance_from_last_transaction', 'ratio_to_median_purchase_price', 'used_chip', 'used_pin_number', 'online_order', 'fraud']]

In [12]:
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,used_chip,used_pin_number,online_order,fraud
0,0.005443,0.000026,0.007250,1.0,0.0,0.0,0.0
1,0.001018,0.000015,0.004816,0.0,0.0,0.0,0.0
2,0.000478,0.000068,0.001581,0.0,0.0,1.0,0.0
3,0.000211,0.000473,0.001338,1.0,0.0,1.0,0.0
4,0.004156,0.000048,0.008284,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
999995,0.000207,0.000009,0.006058,1.0,0.0,0.0,0.0
999996,0.001869,0.000226,0.010358,1.0,0.0,0.0,0.0
999997,0.000274,0.000124,0.000798,1.0,0.0,1.0,0.0
999998,0.000400,0.000020,0.001760,0.0,0.0,1.0,0.0
999999,0.005465,0.000027,0.001428,1.0,0.0,1.0,0.0

In [13]:
df.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,used_chip,used_pin_number,online_order,fraud
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,0.002504,0.000425,0.006795,0.350399,0.100608,0.650552,0.087403
std,0.006150,0.002181,0.010454,0.477095,0.300809,0.476796,0.282425
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000364,0.000025,0.001760,0.000000,0.000000,0.000000,0.000000
50%,0.000937,0.000084,0.003709,0.000000,0.000000,1.000000,0.000000
75%,0.002421,0.000283,0.007812,1.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
def testTrainSplit (df):
    df = df.sample(frac = 1, ignore_index=True)
    length = len(df.index)
    splitPoint = round(length * 0.70)
    training = df.iloc[:splitPoint, :]
    testing = df.iloc[splitPoint:, :]
    return training, testing

In [15]:
training, testing = testTrainSplit (df)

In [16]:
training.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,used_chip,used_pin_number,online_order,fraud
count,700000.000000,7.000000e+05,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000
mean,0.002511,4.262425e-04,0.006796,0.350003,0.100650,0.650976,0.087639
std,0.006280,2.253456e-03,0.010465,0.476971,0.300865,0.476662,0.282769
min,0.000002,1.515544e-08,0.000006,0.000000,0.000000,0.000000,0.000000
25%,0.000364,2.502329e-05,0.001755,0.000000,0.000000,0.000000,0.000000
50%,0.000937,8.413805e-05,0.003706,0.000000,0.000000,1.000000,0.000000
75%,0.002422,2.827919e-04,0.007801,1.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000e+00,0.995843,1.000000,1.000000,1.000000,1.000000

In [17]:
testing.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,used_chip,used_pin_number,online_order,fraud
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,0.002487,0.000422,0.006795,0.351323,0.100510,0.649563,0.086853
std,0.005835,0.002000,0.010429,0.477385,0.300679,0.477108,0.281620
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000365,0.000025,0.001771,0.000000,0.000000,0.000000,0.000000
50%,0.000937,0.000085,0.003715,0.000000,0.000000,1.000000,0.000000
75%,0.002418,0.000284,0.007837,1.000000,0.000000,1.000000,0.000000
max,0.374906,0.419228,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
def trainKNN(df, iterations):
    # Set initial value of k
    k = 3

    # Segment training data into 3 segments.
    class1, class2, unknowns = getSegments(df)
  
    # Calculate accuracy of K values for desired iterations
    count = 0
    accuracies = {}
    t0 = time.time() # for measuring how long it takes to compute
    t0_k = k
    while count < iterations:
        if count % 10 == 0:
            elapsed = time.time() - t0
            t0 = time.time()
            print(f"Took {elapsed:.2f} seconds to compute {t0_k}<=k<{k}")
            t0_k = k
        # Calculate percent accuracy for current k
        accuracy_at_k = calculateAccuracy(class1, class2, unknowns, k)
        accuracies[k] = accuracy_at_k
        k = k + 2
        count = count + 1
  
    return accuracies

In [19]:
def getSegments(df):
    # Segment training data into 3 segments. If not divisible by 3, add extra data to unknown segment.
    length = len(df.index)
    splitPoint = int(length/3)
    fraud = df[df.fraud == 1]
    notFraud = df[df.fraud == 0]
    fraud_df = fraud.iloc[:splitPoint]
    notFraud_df = notFraud.iloc[:splitPoint]
    leftover = pd.concat([fraud.iloc[splitPoint:], notFraud.iloc[splitPoint:]])
    fraud.reset_index(inplace=True, drop=True)
    notFraud.reset_index(inplace=True, drop=True)
    leftover.reset_index(inplace=True, drop=True)
    return fraud_df, notFraud_df, leftover

In [20]:
cache = {}
def calculateAccuracy(class1, class2, unknowns, k):
    known = pd.concat([class1, class2], axis=0)
    unknown_prediction_correct = []
    for idx in unknowns.index:
        if not idx in cache:
            cache[idx] = known.apply(lambda x: euclidianDistance(x, unknowns.iloc[idx]), axis=1)
        known['distance_to_unknown'] = cache[idx]
        top_k = known.sort_values('distance_to_unknown',ascending=True).head(k)
        predicted_class = top_k.value_counts(ascending=False, subset='fraud').index[0] # TODO: double check this line
        unknown_prediction_correct.append(1 if predicted_class == unknowns.iloc[idx].fraud else 0)
        known.pop('distance_to_unknown') # remove this so we don't use it in future distance calculations
    return sum(unknown_prediction_correct) / len(unknown_prediction_correct)

In [21]:
def euclidianDistance(row1, row2):
    sum = 0
    for (i, j) in zip(row1[1:10], row2[1:10]):
        diffSQ = (i - j) **2
        sum = sum + diffSQ
    return math.sqrt(sum)

In [23]:
performance = trainKNN(training, 1)

Took 0.00 seconds to compute 3<=k<3

KeyboardInterrupt:

In [ ]:
print(performance)

In [ ]:
kacc = pd.DataFrame({
    "k": list(sorted(performance.keys())),
    "accuracy": [performance[k] for k in sorted(performance.keys())]
})
kacc.head()

In [ ]:
sns.lineplot(x=kacc.k, y=kacc.accuracy)

In [ ]:
top = kacc.sort_values(by="accuracy", ascending = False)

In [ ]:
top