In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('RickAndMortyScripts.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         1905 non-null   int64
 1   season no.    1905 non-null   int64
 2   episode no.   1905 non-null   int64
 3   episode name  1905 non-null   object
 4   name          1905 non-null   object
 5   line          1905 non-null   object
dtypes: int64(3), object(3)
memory usage: 89.4+ KB

In [4]:
df = df[['name', 'line']]

In [5]:
df.isnull().values.any()

False

In [6]:
df[['line', 'name']] = df[['line', 'name']].astype(str)

In [7]:
def rickMortyOther (df):
    for row in range(len(df.index)):
        if (df['name'][row] != "Rick") and (df['name'][row] != "Morty"):
            df['name'][row] = "Other"
    return df

In [8]:
df = rickMortyOther (df)

In [10]:
listOfNames = ['Rick', 'Morty', 'Other']

In [11]:
def featurize (df, listOfNames):
    featurized = []
    for character in listOfNames:
        onlyCharacter = df[df.name == character]
        text = ' '.join(onlyCharacter['line'])
        text = text.lower()
        text = text.split()
        unrepeated = list(set(text))
        totalWords = {"Character Name": character}
        for word in unrepeated:
            totalWords[word] = text.count(word)
        featurized.append(totalWords)
    return featurized

In [12]:
featurized = featurize (df, listOfNames)

In [15]:
featurized = pd.DataFrame.from_dict(featurized)

TypeError: 'numpy.ndarray' object is not callable

In [14]:
featurized

,Character Name,"except,","welp,",separates,portal,fruits.,him,"though,","and,",goldenfold's,...,basic,fig,"moron,",beg,leads,scientist.,two!?,patients,"ut,","""sawwww""."
0,Rick,1.0,1.0,1.0,4,1.0,5,1.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Morty,NaN,NaN,NaN,1,NaN,2,NaN,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Other,NaN,NaN,NaN,8,NaN,23,1.0,3,NaN,...,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0